@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.header {
	min-height: 88vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/banner_background.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links {
	flex: 1;
	text-align: center;
}
nav ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
}
nav ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
nav ul li:hover::after {
	width: 100%;
}
.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1 {
	font-size: 62px;
}
.text-box p {
	margin: 10px 0 40px;
	color: #fff;
}
.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover {
	border: 1px solid greenyellow;
	background: greenyellow;
	transition: 1s;
}
nav .fas {
	display: none;
}
nav a {
	color: #FFF;
}
.logoutLink {
	flex: 1;
	text-align: right;
}


@media (max-width: 800px) {
	.text-box h1 {
		font-size: 20px;
	}
	nav .nav-links{
		height: 88vh;
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #000;
		transition: top 1s ease;
		display: none;
	}
	nav .nav-links .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	nav .openMenu {
		display: block;
	}
	nav .nav-links li a:hover {
		background: none;
	}
	
	nav .fas {
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	 
}

/* -------------- First Content Section -------------- */
header {
	padding: 1rem;
	display: flex;
	justify-content:center;
}
.search {
	border: 1px solid #000000;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	font-size: 1rem;
}
.search:focus{
	outline: 0;
}
#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.movie {
	width:350;
	margin: 1rem;
	border-radius: 3px;
	box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
	background-color: #373B69;
	position: relative;
	overflow: hidden;
}
.movie img {
	width: 100%;
}
.movie-info {
	color: #EEE;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
}
.movie-info h3 {
	margin-top: 0;
}
.movie-info span {
	background-color: mediumblue;
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	font-weight: bold;
}
.movie-info span.green {
	color: lightgreen;
}
.movie-info span.orange {
	color:orange;
}
.movie-info span.red {
	color: red;
}
.overview h3 {
	text-align: center;
	color: greenyellow;
}
.overview {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #FFF;
	background-color: #060036;
	padding: 1rem;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform 0.3s ease-in;
}
.movie:hover .overview {
	transform: translateY(0);
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}











